* {
    box-sizing: border-box;
    margin: 0;
}

.flex-container {
    display: flex;
}

.container1 {
    flex: 50%;
    margin-top: 15px;
    margin-left: 100px;
}

.container2 {
    background-color: #eaeaea;
    flex: 50%;
    padding-left: 50px;
}

.wrap {
    margin-top: 40px;
}

.warp1 {
    padding-top: 10px;
}

.payment {
    padding-top: 20px;
}

.payment div {
    padding: 20px;
}

.payment p {
    padding-left: 20px;
    padding-top: 10px;
}

.button2 {
    background-color: blue;
    padding: 10px 75px;
}

.link1 {
    padding-top: 50px;
}

.wname span {
    display: block;
}

.tab1 th {
    padding-bottom: 50px;
    font-weight: 100;
}

.tab2 th {
    padding-bottom: 60px;
}

.amount td {
    padding-bottom: 20px;
}

.delivery {
    margin-bottom: 20px;
}

.pagef {
    margin-left: 100px;
    padding-top: 50px;
}

.pagef a {
    padding-left: 40%;
}

.pagef i {
    margin-left: 40px;
}
